<section id="cta" class="wrapper style4">
  <div class="inner">
    <header>
      <h2 data-simply-field="cta title">Arcue ut vel commodo</h2>
      <p data-simply-field="cta description">Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
    </header>
    <ul class="actions vertical" data-simply-list="cta actions" data-simply-sortable>
      <template data-simply-template="Special">
        <li><a href="#" class="button fit special" data-simply-field="link">Activate</a></li>
      </template>
      <template data-simply-template="Normal">
        <li><a href="#" class="button fit" data-simply-field="link">Learn More</a></li>
      </template>
    </ul>
  </div>
</section>