<section id="three" class="wrapper style3 special">
  <div class="inner">
    <header class="major">
      <h2 data-simply-field="section three title">Accumsan mus tortor nunc aliquet</h2>
      <p data-simply-field="section three description">Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br>
        fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
    </header>
    <ul class="features" data-simply-list="section three features" data-simply-sortable>
      <template>
        <li>
          <div class="icon-wrapper"><i class="icon fa" data-simply-field="icon"></i></div>
          <h3 data-simply-field="title">Arcu accumsan</h3>
          <p data-simply-field="description">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p>
        </li>
      </template>
    </ul>
  </div>
</section>