<div class="inner">
  <header class="major">
    <h2 data-simply-field="section one title">Arcu aliquet vel lobortis ata nisl<br>
      eget augue amet aliquet nisl cep donec</h2>
    <p data-simply-field="section one description">Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br>
      fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
  </header>
  <ul class="icons major" data-simply-list="section one icons" data-simply-sortable>
    <template data-simply-template="Diamond" rel="Diamond"></template>
    <template data-simply-template="Heart" rel="Heart"></template>
    <template data-simply-template="Code" rel="Code"></template>
  </ul>
</div>