<header id="header" class="alt">
  <h1><a href="/" data-simply-field="homelink" data-simply-path="/">Spectral</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul data-simply-list="menu" data-simply-sortable data-simply-path="/">
            <template>
              <li><a href="index.html" data-simply-field="link">Home</a></li>
            </template>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>