<ul class="icons" data-simply-list="footer icons" data-simply-sortable data-simply-path="/">
  <template data-simply-template="Twitter">
    <li><a data-simply-field="link" href="#" class="icon fa-twitter"><span class="label" data-simply-field="label">Twitter</span></a></li>
  </template>
  <template data-simply-template="Facebook">
    <li><a data-simply-field="link" href="#" class="icon fa-facebook"><span class="label" data-simply-field="label">Facebook</span></a></li>
  </template>
  <template data-simply-template="Instagram">
    <li><a data-simply-field="link" href="#" class="icon fa-instagram"><span class="label" data-simply-field="label">Instagram</span></a></li>
  </template>
  <template data-simply-template="Dribbble">
    <li><a data-simply-field="link" href="#" class="icon fa-dribbble"><span class="label" data-simply-field="label">Dribbble</span></a></li>
  </template>
  <template data-simply-template="Email">
    <li><a data-simply-field="link" href="#" class="icon fa-envelope-o"><span class="label" data-simply-field="label">Email</span></a></li>
  </template>
</ul>
<div class="copyright">
<span>Muze B.V. &copy; 2024</span>
</div>